[package]
name = "gpu-allocator"
version = "0.10.0"
authors = ["Traverse Research <opensource@traverseresearch.nl>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Memory allocator for GPU memory in Vulkan and DirectX 12"
categories = ["rendering", "rendering::graphics-api"]
homepage = "https://github.com/Traverse-Research/gpu-allocator"
repository = "https://github.com/Traverse-Research/gpu-allocator"
keywords = ["vulkan", "memory", "allocator"]
documentation = "https://docs.rs/gpu-allocator/"

include = [
    "Cargo.toml",
    "LICENSE-*",
    "src/**",
]

[dependencies]
backtrace = "0.3"
log = "0.4"
thiserror = "1.0"
# Only needed for vulkan.
ash = { version = "0.33", optional = true }
# Only needed for d3d12.
winapi = { version = "0.3.9", features = ["d3d12", "winerror", "impl-default", "impl-debug"], optional = true }
# Only needed for visualizer.
imgui = { version = "0.8", optional = true }
imgui-winit-support = { version = "0.8", optional = true }

[dev-dependencies]
ash-window = "0.7"
raw-window-handle = "0.3"
winapi = { version = "0.3.9", features = ["d3d12", "d3d12sdklayers", "dxgi1_6", "winerror", "impl-default", "impl-debug", "winuser", "windowsx", "libloaderapi"] }
windows = "0.19"
windows_bindings = { path = "windows_bindings" }
winit = "0.25"

[[example]]
name = "vulkan-buffer"
path = "examples/vulkan-buffer/src/main.rs"
required-features = ["vulkan"]

[[example]]
name = "vulkan-visualization"
path = "examples/vulkan-visualization/src/main.rs"
required-features = ["vulkan", "visualizer"]

[[example]]
name = "d3d12-buffer"
path = "examples/d3d12-buffer/src/main.rs"
required-features = ["d3d12", "public-winapi"]

[[example]]
name = "d3d12-buffer-winrs"
path = "examples/d3d12-buffer-winrs/src/main.rs"
required-features = ["d3d12"]

[[example]]
name = "d3d12-visualization"
path = "examples/d3d12-visualization/src/main.rs"
required-features = ["d3d12", "public-winapi", "visualizer"]


[features]
visualizer = ["imgui", "imgui-winit-support"]
vulkan = ["ash"]
d3d12 = ["winapi"]
public-winapi = ["winapi"]

default = ["d3d12", "vulkan", "public-winapi"]

[workspace]
members = [
    "windows_bindings",
]
