pre-release-commit-message = "Release {{version}}"
tag-message = "Release {{version}}"
tag-name = "{{version}}"
sign-commit = true
sign-tag = true
publish = false

pre-release-replacements = [
  {file="README.md", search="gpu-allocator = .*", replace="{{crate_name}} = \"{{version}}\""},
  {file="README.tpl", search="gpu-allocator = .*", replace="{{crate_name}} = \"{{version}}\""},
]
